body{
    margin: 0;
}
.container{
    display: flex;
    height: 100vh;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 96, 67);
}
.side{
    width: 30%;
    background-color: rgb(200, 243, 244);
    padding: 20px;
    min-width: 220px;
    overflow-y: auto;
}
.chat{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.top{
    padding: 15px;
    background-color: azure;
    font-family: sans-serif;
    color: rgb(8, 96, 67);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
#profilevisit{
    background-color: rgb(101, 238, 192);
    border-radius: 5px;
}
#msg{
    flex: 1;
    padding: 20px;
    overflow-y:auto ;
    background-color: rgb(255, 245, 233);
    display: flex;
    flex-direction: column;
}
.sent{
    align-self: flex-end;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 40%;
    background-color: rgb(80, 236, 80);
}
.received{
    align-self: flex-start;
    background-color: rgb(215, 245, 215);
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 40%;
}
.sent,
.received{
    max-width: 75%;
    word-wrap: break-word;
}
.msgarea{
    display: flex;
    padding: 10px;
}
.msgarea input{
    flex: 1;
    padding: 10px;
}
.msgarea button{
    padding: 10px 20px;
}
#send{
    background-color: rgb(101, 238, 192);
}
@media (max-width: 1024px) {
    .side{
        width: 40%;
    }
    .chat{
        width: 60%;
    }
}
@media(max-width:768px) {
    .container{
        flex-direction: column;
    }
    .side{
        width: 100%;
        height: 200px;
    }
}
