body{
    background-color: rgb(200, 243, 244);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: rgb(8, 96, 67);
    font-weight: bolder;
}
button{
    border-radius: 5px;
    background-color: rgb(101, 238, 192);
}